@font-face{
    font-family: 'OVERPASS MONO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('OVERPASS MONO FONT'), url('OverpassMono-Regular.ttf'), format('ttf');    
    
}

h2 {
    color: #AF1D32;
}

.center{
    display: flex;
    justify-content: center;
}

.featured {
    background-image: url('https://i.ytimg.com/vi/rRGk4ZvZ0Vo/maxresdefault.jpg');
}
