body {
  margin: 0;
  padding: 0;
    
}

@font-face{
  font-family: 'OVERPASS MONO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('OVERPASS MONO FONT'), url('containers/OverpassMono-Regular.ttf'), format('ttf');    
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{ 
  font-size: 2em;
  text-align: center;
  color: rgb(0, 77, 142);
}

h2{
  font-family: 'OVERPASS MONO FONT';
  font-weight: 200;
  color: #AF1D32;
}

h3 {
  color: rgb(0, 77, 142);
  text-transform:uppercase;
}

p{
  font-family: 'OVERPASS MONO FONT';
}

.bg-light-blue {
  
  width: 180px;
  height: 180px;
}

button {
  padding: 3px;
  margin: 2px;
  min-width: 30%;
  cursor: pointer;
  background-color: rgb(11, 9, 104);
  color: white;
}

input {
  min-width: 70%;
}

label {
  min-width: 30%;
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

header {
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  background-image: url('https://i.ytimg.com/vi/rRGk4ZvZ0Vo/maxresdefault.jpg');
  background-position-x: left;
}
