body {
  margin: 0;
  padding: 0;
    
}

@font-face{
  font-family: 'OVERPASS MONO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('OVERPASS MONO FONT'), url('containers/OverpassMono-Regular.ttf'), format('ttf');    
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{ 
  font-size: 2em;
  text-align: center;
  color: rgb(0, 77, 142);
}

h2{
  font-family: 'OVERPASS MONO FONT';
  font-weight: 200;
  color: #AF1D32;
}

h3 {
  color: rgb(0, 77, 142);
}

p{
  font-family: 'OVERPASS MONO FONT';
}

.bg-light-blue {
  
  width: 200px;
  height: 200px;
}

