@font-face{
    font-family: 'OVERPASS MONO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('OVERPASS MONO FONT'), url('OverpassMono-Regular.ttf'), format('ttf');    
    
}

h2 {
    color: #AF1D32;
}